@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

@font-face{
    font-family: 'Passion One';
    src: url("pacote-d012/Passion_One/PassionOne-Bold.ttf") format("truetype");   
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif; /*Msgs*/
    --font2: 'Passion One', cursive; /*Título*/
    --font3: 'Sriracha', cursive; /*Poema*/
}

html, body{
    min-height: 100vh;
    margin: 0px;
}

header{
    background: black;
    color: white;
    text-align: center;
    padding: 22px;
}

header h1{
    font: normal 10vw var(--font2);
    font-variant: small-caps;
    margin: 40px;
}

header p{
    font: normal 16px var(--font1);
    text-align: top;
    margin-top: -38px;
}

header a, footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

main p{
    font-family: var(--font3);
    font-size: 3.5vw;
    line-height: 2em;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section#joaninha{
    background: url("pacote-d012/imagens/background001.jpg") center right /cover no-repeat fixed;
    padding: 35px 0px 35px 1px;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
}

p#p2{
    background: rgba(0, 0, 0, 0.514);
    color: white;
    text-shadow: 1px 1px 0px black;
    width: 11.7em;
    height: 14em;
    padding: 5px;
}

section#livros{
    background: url("pacote-d012/imagens/background002.jpg") center left /cover no-repeat fixed;
    padding: 35px 0px 35px 1px;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
}

p#p5{
    background: rgba(0, 0, 0, 0.514);
    color: white;
    text-shadow: 1px 1px 0px black;
    width: 11.9em;
    height: 14em;
    padding: 5px;
}

footer{
    background: black;
    color: white; 
    text-align: center;
    padding: 8px; 
}

footer p{
    font-family: var(--font1);
    font-size: 16px;
    margin: 0px;
}